<div class="row pt-5 ">
  <div class="col-md-4 mx-auto login">
    <div class="card rounded-0">
      <div class="card-header">
        <h4 class="mb-0">Login</h4>
    </div>
        <div class="card-body">
        
        <form class="form">
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control rounded-0 " required>
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input type="text" class="form-control rounded-0 " required>
          </div>
          <button type="button" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
